<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Thomas Pesquet</title>
    <link rel="stylesheet" href="stylesheet/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>
<div class="container" id="main-title">
    <h1>
        Thomas Pesquet's Biographie
    </h1>
</div>
    
<div class= "content">
    <h2> Life</h2>
    <p>
        Born in Rouen, France, on 27 February 1978, Thomas Pesquet is a black belt in judo and enjoys basketball, jogging, swimming, squash and outdoor sports such as mountain biking, kite surfing, sailing, skiing and mountaineering. He also has extensive experience in scuba diving and skydiving. His other interests include travelling, playing the saxophone and reading.
    </p>

    <h2> Education </h2>
    <p>
        Thomas graduated from the competitive French “classes préparatoires aux grandes écoles” at the Lycée Pierre Corneille in Rouen, France, in 1998.
        <br> In 2001, he received a master’s degree from the École Nationale Supérieure de l’Aéronautique et de l’Espace in Toulouse, France, majoring in spacecraft design and control. He spent his final year before graduation at the École Polytechnique de Montréal, Canada, as an exchange student on the Aeronautics and Space Master course.
        <br> Thomas graduated from the Air France flight school in 2006. This led to an Air Transport Pilot License-Instrument Rating (ATPL-IR).
    </p>

    <h2> Experience </h2>
    <p>
    From April to September 2001, Thomas was a trainee engineer with Thales Alenia Space in Cannes, France, where he developed a satellite system design tool using concurrent engineering techniques.
    Thomas was selected as an ESA astronaut in May 2009. He joined ESA in September 2009 and completed basic training in November 2010. After graduation, he worked as a Eurocom, communicating with astronauts during spaceflights from the mission control centre. He was also in charge of future projects at the European Astronaut Centre, including initiating cooperation with new partners such as China.
    On 17 March 2014, Thomas was assigned to a long-duration mission on the International Space Station.
</p>
</div>
</body>
</html>