<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thomas Pesquet Photo-gallery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>

  <div class="container" id="main-title">
    <h1>
        Thomas Pesquet's Pictures of Earth
    </h1>
  </div>

    <h4>
        Discover below the nice pictures of Earth made by Thomas Pesquet during his previous spaceflight.
    </h4>
    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="images/earth1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Image 1</h5>
            <p class="card-text">The Earth from Space</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="images/earth2.jpg"  alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Image 2</h5>
            <p class="card-text">The Earth from Space</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="images/earth3.jpg"  alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Image 3</h5>
            <p class="card-text">The Earth from Space</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">The Earth from Space</small>
          </div>
        </div>
      </div>
</body>
</html>