<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thomas Pesquet Works</title>
    <link rel="stylesheet" href="stylesheet/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container" id="main-title">
        <h1>
            Thomas Pesquet's interview
        </h1>
    </div>
    


    <h3>
        WHAT OPPORTUNITIES IS SPACE OFFERING STUDENTS IN THE 21ST CENTURY?

    </h3>
        <p class="content">
The range of openings is unbelievable. It’s a reflection of the broad spectrum of activities we are involved in at ESA. Sometimes people forget the extent to which space is part of their everyday lives. This starts with the more mundane applications like satellite navigation, weather forecasts, communications, and so on. Then, there are the more essential - but perhaps more distant - fields. Let’s take our observations of Earth from space: by taking a step back and launching satellites we measure a huge mass of vital data. It allows us to reach far-reaching conclusions on the general state of the planet and its environment. Climate change is measured from space. So it’s hugely important and a big part of what we’re doing at ESA. We’re looking at Earth, checking its pulse and measuring all the data we gather.
Last but not least, we’re exploring. We’re going to where no one has been before, not just to plant a flag but to answer philosophical questions: where does life come from originally, for example? No one can answer that question for the moment. Sure, we know the ingredients but how did they arrive here in the first place? No one knows. Then, we ask if Earth can lose its atmosphere or liquid water? That’s what happened to Mars which used to be very similar to Earth. Nowadays, it’s a barren desert. These are questions we’re trying to solve by going deeper and further into space. And students are pivotal in this quest.

 
    </p>
</body>
</html>